extend base.pug

block content
    h4 change Title of video
    form(method="POST")
        input(name="title", placeholder="Video Title", value="pageTitle")
        input(value="save", type="submit") 